* {padding: 0; margin: 0;}

section
{
	position:relative;
	top:75px;
	width:100%;
}

section h1
{
  position:relative;
	top:0;
  margin:0 auto;
  margin-top:5%;
  margin-bottom:5%;
	text-align:center;
	font-size:30px;
}
section table
{
	border-collapse:collapse;
	width:83%;
	margin:auto;
	border: 1px gray solid;
}
section table th
{
	background-color:#6a606c;
	color:white;
	border: 1px gray solid;
}

section table th:nth-child(1)
{
  width:20%
}

section table th:nth-child(2)
{
  width:60%
}

section table th:nth-child(3)
{
  width:20%
}

section table td
{
	text-align:center;
	border-left: 1px gray solid;
	border-right: 1px gray solid;
}
section table th, section table td
{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
}
