* {padding: 0; margin: 0;}

section
{
	position:relative;
	top:75px;
	width:100%;
}

section nav {
  position:relative;
	top:0;
  margin:0 auto;
  margin-top:5%;
  margin-bottom:5%;
  text-align: center;
}

section nav h1
{
	text-align:center;
	font-size:30px;
}

section nav a {
    text-decoration: none;
    background-color: #59adde;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

section nav a:hover {
    background-color: white;
    color: #59adde;
    border: 1px solid #59adde;
}

#tableau
{
	position:relative;
	overflow-y: auto;
	scrollbar-width: thin;
	height: 300px;
	width: 83%;
	margin: auto;
}


::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb {
  background: lightgrey;
}

section table
{
	border-collapse:collapse;
	width: 100%;
	margin:auto;
	border: 1px gray solid;
}

section table thead th {
	position: sticky;
	top:0;
}

section table thead th
{
	background-color:#6a606c;
	color:white;
}

section table tbody td
{
	text-align:center;
	vertical-align: middle;
}

section table thead th, section table tbody td
{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	height: 32px;
	border: 1px gray solid;
}

section table tr>*:nth-child(1), section table tr>*:nth-child(3)
{
  width:20%
}

section table tr>*:nth-child(2)
{
  width:60%
}

section table td
{
	text-align:center;
	border-left: 1px gray solid;
	border-right: 1px gray solid;
}
section table th, section table td
{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
}

section table .detail_button
{
	background-image: url('../../images/oeil.png');
	outline: none;
	width: 20px;
	height: 20px;
	border:none;
  cursor: pointer;
	margin-left: 10%;
	margin-right: 10%;
}
