* {padding: 0; margin: 0;}

section
{
	position:relative;
	top:75px;
	width:100%;
}

section nav {
  position:relative;
  margin-top:4%;
  margin-bottom:3%;
}

section nav h1
{
	text-align:center;
	font-size:30px;
}

section nav form
{
	margin:auto;
	text-align:center;
	height:30px;
	width:570px;
	padding-bottom:2px;
	padding-top:2px;
}

section nav form input
{
	border:none;
	border-radius:20px;
	outline: none;
	height: 100%;
	text-align:center;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .5);
	font-size:15px;
}

section nav form input:focus::placeholder{
	color:transparent;
}

section nav form #search
{
	outline: none;
	position:relative;
	top:5px;
	background-image: url('../../images/Loupe.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	padding:0px;
	border:none;
  cursor: pointer;
}

section nav button {
		color: white;
	  padding: 14px 20px;
	  border: none;
		outline: none;
		background-color: #47ff94;
		border-radius: 5px;
		font-size: 16px;
		display: block;
		margin: auto;
}

section nav button:hover {
	background-color: white;
	color: #47ff94;
  outline: 1px solid #47ff94;
}

#tableau
{
	position:relative;
	overflow-y: auto;
	scrollbar-width: thin;
	height: 300px;
	width: 83%;
	margin: auto;
}


::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb {
  background: lightgrey;
}

section table
{
	border-collapse:collapse;
	width: 100%;
	margin:auto;
	border: 1px gray solid;
}

section table thead th {
	position: sticky;
	top:0;
}

section table thead th
{
	background-color:#6a606c;
	color:white;
}

section table tbody td
{
	text-align:center;
	vertical-align: middle;
}

section table thead th, section table tbody td
{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	height: 32px;
	border: 1px gray solid;
}

section table button
{
	outline: none;
	width: 20px;
	height: 20px;
	border:none;
  cursor: pointer;
	margin-left: 10%;
	margin-right: 10%;
}

#table_button
{
	display: flex;
	justify-content: space-around;
}

section table tr > *:nth-child(1), section table tr > *:nth-child(2), section table tr > *:nth-child(4)
{
	width:20%;
}

section table tr > *:nth-child(3)
{
	width: 30%;
}

section table tr > *:nth-child(5)
{
	width: 10%;
}

section table tr > *:nth-child(6) {
  display: none;
}


section table .delete_button
{
	background-image: url('../../images/delete.jpg');
}

section table .edit_button
{
	background-image: url('../../images/edit.png');
}

:root {
  --cancel_color: #ff476f;
  --delete_color: #59adde;
}

/*fomulaire de suppression d'utilisateur*/

#delete_form {
	width: 100%;
	height:100%;
	z-index:2;
	position:absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	visibility: hidden;
	opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
	background-color:rgba(255,255,255,0.5);
}

#delete_form form {
	position:relative;
	margin:auto;
  width:400px;
  padding: 29px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-color: white;
}

#delete_form h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
}

#delete_form label {
  display: inline-block;
  width:120px;
  margin-left:100px;
}

#delete_form input[type=text], #delete_form input[type=email], #delete_form input[type=number]{
    display: inline-block;
    margin: 8px 0;
    border: 0;
    background-color: inherit;
}

#delete_form input[type=submit], #delete_form input[type=button]{
		outline: none;
    color: white;
    padding: 14px 20px;
    margin: 8px 2px;
    border: none;
    cursor: pointer;
    width: 196px;
    border: 1px solid white;
}

#delete_form input[type=button].cancel {
  background-color: var(--cancel_color);
}

#delete_form input[type=button].cancel:hover {
  background-color: white;
  color: var(--cancel_color);
  border-color: var(--cancel_color);
}

#delete_form input[type=submit].confirm {
  background-color: var(--delete_color);
}

#delete_form input[type=submit].confirm:hover {
    background-color: white;
    color: var(--delete_color);
    border-color: var(--delete_color);
}

/*fomulaire d'edition d'utilisateur*/

#edit_form {
	width: 100%;
	height:100%;
	z-index:2;
	position:absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	visibility: hidden;
	opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
	background-color:rgba(255,255,255,0.5);
}

#edit_form form {
	position:relative;
	margin:auto;
  width:400px;
  padding: 29px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-color: white;
}

#edit_form h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
}

#edit_form input[type=text], #edit_form input[type=email], #edit_form input[type=number], #edit_form select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#edit_form input[type=number] + p{
	display: none;
}

#edit_form input[type=number]:focus + p{
	display: block;
}

#edit_form input[type=submit], #edit_form input[type=button]{
		outline: none;
    color: white;
    padding: 14px 20px;
    margin: 8px 2px;
    border: none;
    cursor: pointer;
    width: 196px;
    border: 1px solid white;
}

#edit_form input[type=button].cancel {
  background-color: var(--cancel_color);
}

#edit_form input[type=button].cancel:hover {
  background-color: white;
  color: var(--cancel_color);
  border-color: var(--cancel_color);
}

#edit_form input[type=submit].confirm {
  background-color: var(--delete_color);
}

#edit_form input[type=submit].confirm:hover {
    background-color: white;
    color: var(--delete_color);
    border-color: var(--delete_color);
}

#pre_register_form {
	width: 100%;
	height:100%;
	z-index:2;
	position:absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	visibility: hidden;
	opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
	background-color:rgba(255,255,255,0.5);
}

#pre_register_form form {
	position:relative;
	margin:auto;
  width:400px;
  padding: 29px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-color: white;
}

#pre_register_form h1{
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
}

#pre_register_form input[type=email], #pre_register_form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#pre_register_form input[type=submit], #pre_register_form input[type=button]{
	outline: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 2px;
  border: none;
  cursor: pointer;
  width: 196px;
  border: 1px solid white;
}

#pre_register_form input[type=button].cancel {
  background-color: var(--cancel_color);
}

#pre_register_form input[type=button].cancel:hover {
  background-color: white;
  color: var(--cancel_color);
  border-color: var(--cancel_color);
}

#pre_register_form input[type=submit].confirm {
  background-color: var(--delete_color);
}

#pre_register_form input[type=submit].confirm:hover {
    background-color: white;
    color: var(--delete_color);
    border-color: var(--delete_color);
}
