* {padding: 0; margin: 0;}

section
{
	position:relative;
	top:75px;
	width:100%;
}

section nav {
  position:relative;
  margin-top:5%;
  margin-bottom:3%;
}

section nav h1
{
	text-align:center;
	font-size:30px;
}

section nav form
{
	margin:auto;
	text-align:center;
	height:30px;
	width:570px;
	padding-bottom:2px;
	padding-top:2px;
}

section nav form input
{
	border:none;
	border-radius:20px;
	outline: none;
	height: 100%;
	text-align:center;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .5);
	font-size:15px;
}

section nav form input:focus::placeholder{
	color:transparent;
}

section nav form #search
{
	outline: none;
	position:relative;
	top:5px;
	background-image: url('../../images/Loupe.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	padding:0px;
	border:none;
  cursor: pointer;
}

section nav button {
	background-color: #59adde;
	color: white;
	padding: 14px 20px;
	border: none;
	outline: none;
	border-radius: 5px;
	display: block;
	margin: auto;
	}

	section nav button:hover {
	background-color: white;
	color: #59adde;
  outline: 1px solid #59adde;
}

#sujets {
  position:relative;
	overflow-y: auto;
  max-height:273px;
	scrollbar-width: thin;
	width: 50%;
	margin: auto;
  border:1px black solid;
  border-radius: 8px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 8px;
}

#sujets > .sujet {
  width: 100%;
  border-bottom: 1px black solid;
	display:flex;
	justify-content:flex-start;
	align-items: center;
}

#sujets > .sujet:last-child {
  border:none;
}

#sujets > .sujet > a{
	 width:100%;
}

#sujets > .sujet > a button {
  width: 100%;
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#sujets > .sujet > a h3 {
  font-weight: normal;
}

#sujets > .sujet > a .utilisateur {
  float:left;
  color: #606060;
}
#sujets > .sujet > a .date {
  float:right;
  color: #606060;
}

#sujets > .sujet > .delete button {
	outline: none;
	width: 20px;
	height: 20px;
	border:none;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	background-image: url('../../images/delete.jpg');
}

:root {
  --cancel_color: #ff476f;
  --delete_color: #59adde;
}

/*fomulaire de création de sujet*/

#new_subject_form {
	width: 100%;
	height:100%;
	z-index:2;
	position:absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	visibility: hidden;
	opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
	background-color:rgba(255,255,255,0.5);
}

#new_subject_form form {
	position:relative;
	margin:auto;
  width:400px;
  padding: 29px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-color: white;
}

#new_subject_form h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
}

#new_subject_form input[type=text], #new_subject_form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#new_subject_form input[type=submit], #new_subject_form input[type=button]{
	outline: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 2px;
  border: none;
  cursor: pointer;
  width: 196px;
  border: 1px solid white;
}

#new_subject_form input[type=button].cancel {
  background-color: var(--cancel_color);
}

#new_subject_form input[type=button].cancel:hover {
  background-color: white;
  color: var(--cancel_color);
  border-color: var(--cancel_color);
}

#new_subject_form input[type=submit].confirm {
  background-color: var(--delete_color);
}

#new_subject_form input[type=submit].confirm:hover {
    background-color: white;
    color: var(--delete_color);
    border-color: var(--delete_color);
}

/*fomulaire de suppression d'utilisateur*/

#delete_form {
	width: 100%;
	height:100%;
	z-index:2;
	position:absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	visibility: hidden;
	opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
	background-color:rgba(255,255,255,0.5);
}

#delete_form form {
	position:relative;
	margin:auto;
  width:400px;
  padding: 29px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-color: white;
}

#delete_form h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
}

#delete_form label {
	float: left;
  display: block;
  width: 200px;
}

#delete_form input[type=text], #delete_form input[type=email], #delete_form input[type=number]{
  border: 0;
  background-color: inherit;
	width: 200Px;
}

#delete_form input[type=submit], #delete_form input[type=button]{
		outline: none;
    color: white;
    padding: 14px 20px;
    margin: 8px 2px;
    border: none;
    cursor: pointer;
    width: 196px;
    border: 1px solid white;
}

#delete_form input[type=button].cancel {
  background-color: var(--cancel_color);
}

#delete_form input[type=button].cancel:hover {
  background-color: white;
  color: var(--cancel_color);
  border-color: var(--cancel_color);
}

#delete_form input[type=submit].confirm {
  background-color: var(--delete_color);
}

#delete_form input[type=submit].confirm:hover {
    background-color: white;
    color: var(--delete_color);
    border-color: var(--delete_color);
}
