footer
{
	position:fixed;
	bottom:0;
	z-index: 1;
	background: #3a343b;
	height: 52px;
	width:100%;
	border-top:1px black solid;
}

footer ul
{
	list-style-type:none;
	display:flex;
	width:100%;
}

footer ul li
{
	font-size:20px;
	height:100%;
	color:white;
	padding-top:15px;
	padding-bottom:15px;
}

footer ul li a{
	text-decoration: none;
	color: white;
}

footer ul li:nth-child(1)
{
	width:15%;
	text-align:center;
}
footer ul li:nth-child(2)
{
	width:20%;
	text-align:center;
}
footer ul li:nth-child(3)
{
	width:65%;
	text-align:right;
	padding-right:3%;
}
